	body {
		width: 100%;
		height: 100%;
		margin: 0;
		display: block;
	}
	.page {
	height: 100%;
	display: flex;
	width: 100%;
	}
	p {
		font-size: 20px;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		color: #f9fcf6;
	}
	.wide-col {
		width: 50%;
		height:100%;
	}

	.narrow-col {
		width: 35%;
		height: 100%;
	}
	
	.skinny-col {
		width: 15%;
		height:100%;
	}

	.title {
		height: 20%;
		width: 100%;
		font-size: 100px;
		color: white;
		font-family: 'Passion One', cursive;
		border-top: solid 10px;
		text-align: center;
	}

	.image {
		width: 100%;
		height: 80%;
		background-color: #5d5e60;
	}
	.gap {
		width: 100%;
		height: 20%;
	}

	.restrict-img {
	max-height: 100%;
	max-width: 100%;
	}

	.p-container {
	height: calc(80%/3);
	width: 50%;
	display: flex;
	text-align: center;
	}
	.center-child {
	display: flex;
	align-items: center;
	justify-content: center;
	}
	.limit-img {
	height: 100%;
	width: 100%;
	}
	.page2 {
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: center;
	}
	.center{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.image2{
		width: 100%;
		height: 60%;
	}
	h1{
		font-size: 25px;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		color: #f9fcf6;

	}
	.photos{
		width: 100%;
		height:15%;
	}
	.space {
		width: 100%;
		height: 10%;
	}
	.text {
	height: calc(30%/3);
	width: 100%;
	display: flex;
	text-align: center;
	}
	
.grey { background-color: #5d5e60;}
.darkgrey { background-color: #D3D3D3;}
.lightgrey { background-color: #A9A9A9;}

.mobile {
	display: none;
}
.desktop {
	display: block;
}
@media only screen and (max-width: 1200px) {
	 p {
		font-size: 15px;
	 }
	 .title {
		border-top: 0px;
	 }
}

@media only screen and (max-width:900px){
	body{
	display: block;
	}
	
	.skinny-col {	
	display: none;
	}
	.page2 {
		display: block;
		width: 100%;
	}
	.narrow-col {
	width: 100%;
	}
	.wide-col {
		width: 100%;
	}
	.image{
		width: 60%;
	}
	.mobile {
		display: block;
	}
	.desktop{
		display: none;
	}
	p{
		font-size: 25px; 
	}
	.photos{
		width: 100%;
		height:20%;
	}
	.text {
	height: calc(30%/3);
	width: 100%;
	display: flex;
	text-align: center;
	}
	.p-container {
	height: calc(80%/3);
	width: 100%;
	display: flex;
	text-align: center;
	}
	.image {
		height: 100%;
	}
}


/*
	.text1 {
	width: 50%;
	height: 20%; 
	align-items: center;
	}
*/



